openapi: 3.0.0
info:
  description: "繧ｬ繝√Ε繧｢繝励Μ莉墓ｧ・
  version: "1.0.1"
  title: "Gacha App"
tags:
- name: "user"
  description: "user髢｢騾｣"
- name: "gacha"
  description: "gacha髢｢騾｣"
- name: "item"
  description: "item髢｢騾｣"
paths:
  # User API
  /users:
    post:
      tags:
      - "user"
      operationId: createUser
      description: User縺ｮ逋ｻ骭ｲ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userCreateInput'
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"
  /users/{Id}:
    get:
      tags:
      - "user"
      operationId: getUser
      description: User縺ｮ蜿門ｾ・      parameters:
        - $ref: "#/components/parameters/userIdPathParam"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
      default:
        $ref: "#/components/responses/defaultError"
    patch:
      tags:
      - "user"
      operationId: updateUser
      description: User縺ｮ譖ｴ譁ｰ
      parameters:
        - $ref: "#/components/parameters/userIdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userUpdateInput'
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"
  /users/{Id}/items:
    get:
      tags:
        - "user"
      operationId: getUseritems
      description: User謇謖（tem縺ｮ蜿門ｾ・      parameters:
        - $ref: "#/components/parameters/userIdPathParam"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/itemResponse"
      default:
        $ref: "#/components/responses/defaultError"

  /gachas:
    get:
      tags:
      - "gacha"
      operationId: getGachas
      description: 繧ｬ繝√Ε縺ｮ蜿門ｾ・      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gachaGetResponse"
      default:
        $ref: "#/components/responses/defaultError"
        responses:
          "200":
            description: "successful operation"
            schema:
              type: "object"
    post:
      tags:
      - "gacha"
      operationId: createGacha
      description: "繧ｬ繝√Ε菴懈・"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gachaCreateInput'
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"
  /gachas/{Id}:
    get:
      tags:
      - "gacha"
      operationId: getGacha
      description: 繧ｬ繝√Ε諠・ｱ蜿門ｾ・      parameters:
        - $ref: "#/components/parameters/gachaIdPathParam"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gachaResponse"
      default:
        $ref: "#/components/responses/defaultError"
      security:
      - api_key: []
    post:
      tags:
      - "gacha"
      operationId: drawGacha
      # 菴輔※operationId蜷阪′縺・＞縺・?
      description: 繧ｬ繝√Ε螳溯｡・      parameters:
        - $ref: "#/components/parameters/gachaIdPathParam"
      # requestBody:
      #   required: true
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/gachaDrawInput'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gachaDrawResponse"
      default:
        $ref: "#/components/responses/defaultError"
    put:
      tags:
      - "gacha"
      operationId: updateGacha
      description: 繧ｬ繝√Ε縺ｮ譖ｴ譁ｰ
      parameters:
        - $ref: "#/components/parameters/gachaIdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gachaUpdateInput'
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"
    delete:
      tags:
      - "gacha"
      operationId: updateGacha
      description: 繧ｬ繝√Ε縺ｮ蜑企勁
      parameters:
        - $ref: "#/components/parameters/gachaIdPathParam"
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"

  /items:
    post:
      tags:
      - "item"
      operationId: createItem
      description: 繧｢繧､繝・Β縺ｮ菴懈・
      parameters:
        - $ref: "#/components/parameters/gachaIdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemCreateInput'
      responses:
        "200":
          description: Success
      default:
        $ref: "#/components/responses/defaultError"

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"

components:
  schemas:
    # User Schema
    userCreateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        password:
          type: string
          maxLength: 100
        email:
          type: string
      required:
        - name
        - password
    userUpdateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        email:
          type: string
      required:
        - name
        - password


    # Gacha Schema
    gachaCreateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 1000
      required:
        - name
    gachaUpdateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 1000
      required:
        - name
    # gachaDrawInput:
    #   type: "object"
    #   properties:
    #     times:
    #       type: "integer"
    #       description: 繧ｬ繝√Ε繧貞ｼ輔￥蝗樊焚

    # Item Schema
    itemCreateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        gachaid:
          type: string
          maxLength: 1000
        userid:
          type: string
        img_path:
          type: string
        rarity:
          type: string
          # ENUM縺ｯ驕ｸ縺ｹ縺ｪ縺・°繧鋭tring??
      required:
        - name
        - gachaid
        - userid
        - img_path
        - rarity

    # Shared Schema
    errorMessage:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
      required:
        - status
        - message

    userResponse:
      type: object
      properties:
        userid:
          type: string
        name:
          type: string
        email:
          type: string

    gachaResponse:
      type: object
      description: 繧ｬ繝√Ε縺ｮ隧ｳ邏ｰ陦ｨ遉ｺ
      properties:
        name:
          type: string
        description:
          type: string
        list:
          type: array
          items:
            type: object
            properties:
              itemid:
                type: string
              name:
                type: string
              img_path:
                type: string
              rarity:
                type: string
    gachaGetResponse:
      type: object
      properties:
        list:
          type: array
          items:
            type: object
            properties:
              gachaid:
                type: string
              name:
                type: string
              description:
                type: string
    gachaDrawResponse:
      type: object
      properties:
        itemid:
          type: string
        name:
          description: 繧｢繧､繝・Β蜷・          type: string
        img_path:
          type: string
        rairty:
          type: string

    itemResponse:
      type: object
      properties:
        list:
          type: array
          items:
            type: object
            properties:
              itemid:
                type: string
              name:
                type: string
              img_path:
                type: string
              rarity:
                type: string


  # Parameters
  parameters:
    # User Param
    userIdPathParam:
      name: id
      in: path
      required: true
      schema:
        type: string

    gachaIdPathParam:
      name: id
      in: path
      required: true
      schema:
        type: string

  responses:
    # Shared Response
    defaultError:
      description: 繝・ヵ繧ｩ繝ｫ繝医・繧ｨ繝ｩ繝ｼ繝ｬ繧ｹ繝昴Φ繧ｹ縺ｮ螳夂ｾｩ縲・      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorMessage"
